<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>432402638241-crc0sl0qd56r1fejjv5qegmu2to5f8un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432402638241-crc0sl0qd56r1fejjv5qegmu2to5f8un</string>
	<key>API_KEY</key>
	<string>AIzaSyDkmlCxy1bCVfJSbw-w_J2-T_vdUwVsTe4</string>
	<key>GCM_SENDER_ID</key>
	<string>432402638241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Waraqat.Truckers1</string>
	<key>PROJECT_ID</key>
	<string>ajeelkiosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ajeelkiosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432402638241:ios:7806672cc514930e</string>
	<key>DATABASE_URL</key>
	<string>https://ajeelkiosapp.firebaseio.com</string>
</dict>
</plist>